doctype html
html
  head
    title Anthony Youkhanna Resume
    link(rel='stylesheet', href='/stylesheets/style.css')
    nav 
      navbar-default hello?
        h1 My Website!
    ul
      li
        a Home
      li
        a Page 1
      li
        a Page 2
  input

  body
    block content
    h1 Anthony Youkhanna Resume
    div hello world
